In [40]:
import pandas as pd
import re 
df = pd.read_csv("/Users/julie/Downloads/SQ25 Pantry Sign-Ups - Mobile Pantry Sign-ups.csv")

                                           Unnamed: 0  \
0                                                 NaN
1                                                 NaN
2                                 What Is This Event?
3   Mobile Pantry Distribution\n\nThis event is si...
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11  \nVolunteering Description:\n\n\nRole: Driver ...
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

                                           Unnamed: 1  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                        Task Summary
4   Meet at pantry, stock Mobile Pantry and move o...
5                                                 NaN
6                                                 NaN
7                  Distribute items to Patrons (1hr).
8                                                 NaN
9                                                 NaN
10                                                NaN
11                 Distribute items to Patrons (1hr).
12                                                NaN
13                                                NaN
14                                                NaN
15  Distribute items to Patrons (30min). \n\nRetur...
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

                  Mobile Pantry Distribution Sign-Ups           Unnamed: 3  \
0   Location: Tuesdays: Student Community Center (...                  NaN
1                                                 NaN                  NaN
2                           (Wk 10 - SCC) Tuesday 6/3                  NaN
3                                                Time             Sign-Ups
4                                           10AM-11AM         Staff Member
5                                                 NaN          Volunteer 1
6                                                 NaN          Volunteer 2
7                                          11AM-12PM           Volunteer 1
8                                                 NaN          Volunteer 2
9                                                 NaN          Volunteer 3
10                                                NaN          Volunteer 4
11                                           12PM-1PM          Volunteer 1
12                                                NaN          Volunteer 2
13                                                NaN          Volunteer 3
14                                                NaN          Volunteer 4
15                                            1PM-2PM         Staff Member
16                                                NaN          Volunteer 1
17                                                NaN          Volunteer 2
18                          Shift Tasks located here!                  NaN
19                                                NaN                  NaN
20  NOTE: If you would like your shift to be recur...                  NaN
21                                                NaN                  NaN
22                                        Shift Cover                  NaN
23                                        Shift Cover                  NaN
24                                        Shift Cover                  NaN
25                                        Shift Cover                  NaN
26                                        6 PM - 7 PM             Person 1
27                                                NaN             Person 2
28                                                NaN            Person 3
29                                                NaN  Person 4 (optional)
30                                   7 PM - \n7:30 PM             Person 1
31                                                NaN             Person 2
32                                                NaN            Person 3
33                                                NaN  Person 4 (optional)

    Unnamed: 4 Unnamed: 5  Unnamed: 6                  Unnamed: 7  \
0          NaN        NaN         NaN                         NaN
1          NaN        NaN         NaN                         NaN
2          NaN        NaN         NaN  (Wk 10 - ARC) Thursday 6/5
3          NaN        NaN         NaN                        Time
4          NaN      False         NaN                    12PM-1PM
5          NaN      False         NaN                         NaN
6          NaN      False         NaN                         NaN
7          NaN      False         NaN                    1PM-2PM
8          NaN      False         NaN                         NaN
9          NaN      False         NaN                         NaN
10         NaN      False         NaN                         NaN
11         NaN      False         NaN                     2PM-3PM
12         NaN      False         NaN                         NaN
13         NaN      False         NaN                         NaN
14         NaN      False         NaN                         NaN
15         NaN      False         NaN                     3PM-4PM
16         NaN      False         NaN                         NaN
17         NaN      False         NaN                         NaN
18         NaN        NaN         NaN                         NaN
19         NaN        NaN         NaN                         NaN
20         NaN        NaN         NaN                         NaN
21         NaN        NaN         NaN                         NaN
22         NaN      False         NaN                 Shift Cover
23         NaN      False         NaN                 Shift Cover
24         NaN      False         NaN                 Shift Cover
25         NaN      False         NaN                 Shift Cover
26         NaN      False         NaN                 6 PM - 7 PM
27         NaN      False         NaN                         NaN
28         NaN      False         NaN                         NaN
29         NaN      False         NaN                         NaN
30         NaN      False         NaN            7 PM - \n7:30 PM
31         NaN      False         NaN                         NaN
32         NaN      False         NaN                         NaN
33         NaN      False         NaN                         NaN

             Unnamed: 8  Unnamed: 9  ... Unnamed: 91  \
0                   NaN         NaN  ...         NaN
1                   NaN         NaN  ...         NaN
2                   NaN         NaN  ...         NaN
3              Sign-Ups         NaN  ...         NaN
4          Staff Member         NaN  ...         NaN
5           Volunteer 1         NaN  ...         NaN
6           Volunteer 2         NaN  ...         NaN
7           Volunteer 1         NaN  ...         NaN
8           Volunteer 2         NaN  ...         NaN
9           Volunteer 3         NaN  ...         NaN
10          Volunteer 4         NaN  ...         NaN
11          Volunteer 1         NaN  ...         NaN
12          Volunteer 2         NaN  ...         NaN
13          Volunteer 3         NaN  ...         NaN
14          Volunteer 4         NaN  ...         NaN
15         Staff Member         NaN  ...         NaN
16          Volunteer 1         NaN  ...         NaN
17          Volunteer 2         NaN  ...         NaN
18                  NaN         NaN  ...         NaN
19                  NaN         NaN  ...         NaN
20                  NaN         NaN  ...         NaN
21                  NaN         NaN  ...         NaN
22                  NaN         NaN  ...         NaN
23                  NaN         NaN  ...         NaN
24                  NaN         NaN  ...         NaN
25                  NaN         NaN  ...         NaN
26             Person 1         NaN  ...         NaN
27             Person 2         NaN  ...         NaN
28            Person 3          NaN  ...         NaN
29  Person 4 (optional)         NaN  ...         NaN
30             Person 1         NaN  ...         NaN
31             Person 2         NaN  ...         NaN
32            Person 3          NaN  ...         NaN
33  Person 4 (optional)         NaN  ...         NaN

                 Unnamed: 92          Unnamed: 93       Unnamed: 94  \
0                        NaN                  NaN               NaN
1                        NaN                  NaN               NaN
2   (Wk 1 - SCC) Tuesday 4/1                  NaN               NaN
3                       Time             Sign-Ups               NaN
4                  10AM-11AM         Staff Member  Chitra Mukherjee
5                        NaN          Volunteer 1               NaN
6                        NaN          Volunteer 2               NaN
7                 11AM-12PM           Volunteer 1  Chitra Mukherjee
8                        NaN          Volunteer 2               NaN
9                        NaN          Volunteer 3               NaN
10                       NaN          Volunteer 4               NaN
11                  12PM-1PM          Volunteer 1               NaN
12                       NaN          Volunteer 2  Chitra Mukherjee
13                       NaN          Volunteer 3               NaN
14                       NaN          Volunteer 4     Dominic Olson
15                   1PM-2PM         Staff Member     Dominic Olson
16                       NaN          Volunteer 1  Chitra Mukherjee
17                       NaN          Volunteer 2               NaN
18                       NaN                  NaN               NaN
19                       NaN                  NaN               NaN
20                       NaN                  NaN               NaN
21                       NaN                  NaN               NaN
22               Shift Cover                  NaN               NaN
23               Shift Cover                  NaN               NaN
24               Shift Cover                  NaN               NaN
25               Shift Cover                  NaN               NaN
26               6 PM - 7 PM             Person 1               NaN
27                       NaN             Person 2               NaN
28                       NaN            Person 3                NaN
29                       NaN  Person 4 (optional)               NaN
30          7 PM - \n7:30 PM             Person 1               NaN
31                       NaN             Person 2               NaN
32                       NaN            Person 3                NaN
33                       NaN  Person 4 (optional)               NaN

    Unnamed: 95 Unnamed: 96                Unnamed: 97          Unnamed: 98  \
0           NaN         NaN                        NaN                  NaN
1           NaN         NaN                        NaN                  NaN
2           NaN         NaN  (Wk 1 - ARC) Thursday 4/3                  NaN
3           NaN         NaN                       Time             Sign-Ups
4          True         NaN                   12PM-1PM         Staff Member
5         False         NaN                        NaN          Volunteer 1
6         False         NaN                        NaN          Volunteer 2
7          True         NaN                   1PM-2PM           Volunteer 1
8         False         NaN                        NaN          Volunteer 2
9         False         NaN                        NaN          Volunteer 3
10        False         NaN                        NaN          Volunteer 4
11        False         NaN                    2PM-3PM          Volunteer 1
12         True         NaN                        NaN          Volunteer 2
13        False         NaN                        NaN          Volunteer 3
14         True         NaN                        NaN          Volunteer 4
15         True         NaN                    3PM-4PM         Staff Member
16         True         NaN                        NaN          Volunteer 1
17        False         NaN                        NaN          Volunteer 2
18          NaN         NaN                        NaN                  NaN
19          NaN         NaN                        NaN                  NaN
20          NaN         NaN                        NaN                  NaN
21          NaN         NaN                        NaN                  NaN
22        False         NaN                Shift Cover                  NaN
23        False         NaN                Shift Cover                  NaN
24        False         NaN                Shift Cover                  NaN
25        False         NaN                Shift Cover                  NaN
26        False         NaN                6 PM - 7 PM             Person 1
27        False         NaN                        NaN             Person 2
28        False         NaN                        NaN            Person 3
29        False         NaN                        NaN  Person 4 (optional)
30        False         NaN           7 PM - \n7:30 PM             Person 1
31        False         NaN                        NaN             Person 2
32        False         NaN                        NaN            Person 3
33        False         NaN                        NaN  Person 4 (optional)

         Unnamed: 99  Unnamed: 100
0                NaN           NaN
1                NaN           NaN
2                NaN           NaN
3                NaN           NaN
4      Dominic Olson          True
5    Brianna Weidler          True
6                NaN         False
7      Dominic Olson          True
8       Anvi Kalucha          True
9                NaN         False
10               NaN         False
11     Dominic Olson          True
12     Sean Abellera          True
13        Simran Bal          True
14      Anvi Kalucha          True
15     Dominic Olson          True
16  Chitra Mukherjee          True
17      Anvi Kalucha          True
18               NaN           NaN
19               NaN           NaN
20               NaN           NaN
21               NaN           NaN
22               NaN         False
23               NaN         False
24               NaN         False
25               NaN         False
26               NaN         False
27               NaN         False
28               NaN         False
29               NaN         False
30               NaN         False
31               NaN         False
32               NaN         False
33               NaN         False

[34 rows x 101 columns]

go through multiple weeks

In [41]:
import pandas as pd
import re

max_week = 10
shift_dfs = {}

for col in df.columns:
    for idx, cell in df[col].items():
        if pd.notna(cell) and "(Wk" in str(cell):
            day_label = str(cell).strip()

            # Extract the week number
            match = re.search(r"Wk\s*(\d+)", day_label)
            if match:
                week_num = int(match.group(1))
                if week_num > max_week:
                    continue
            else:
                continue

            target_col = col
            start_row = idx

            # Get column index
            try:
                target_col_idx = int(target_col)
            except ValueError:
                target_col_idx = df.columns.get_loc(target_col)

            columns_to_extract = df.iloc[start_row + 1:, target_col_idx:target_col_idx + 4].reset_index(drop=True)

            shift_data = []
            current_time_block = None

            for _, row in columns_to_extract.iterrows():
                if pd.notna(row[0]) and row[0] != "":
                    current_time_block = row[0]
                shift_data.append([day_label, current_time_block, row[1], row[2], row[3]])

            shift_df = pd.DataFrame(shift_data, columns=['Day Label', 'Time Block', 'Role', 'Name', 'Sign-Up'])
            shift_df = shift_df.dropna(subset=['Sign-Up'])
            shift_df = shift_df[(shift_df['Name'].notna()) & (shift_df['Name'] != '')]

            shift_dfs[day_label] = shift_df

# Combine all weekly DataFrames into one
combined_df = pd.concat(shift_dfs.values(), ignore_index=True)

# Extract Week_Label and Date from Day Label
combined_df[['Week_Label', 'Date']] = combined_df['Day Label'].str.extract(r'(\(Wk\s*\d+\s*-\s*\w+\))\s*(.*)')

# Extract week number and location
combined_df['Week'] = combined_df['Week_Label'].str.extract(r'Wk\s*(\d+)').astype(float).astype('Int64')
combined_df['Location'] = combined_df['Week_Label'].str.extract(r'Wk\s*\d+\s*-\s*(\w+)', expand=False)

# Convert Date string to datetime 
current_year = pd.to_datetime("today").year
combined_df['Parsed Date'] = pd.to_datetime(combined_df['Date'] + ' ' + str(current_year), format='%A %m/%d %Y', errors='coerce')

# Reorder columns by dates
combined_df = combined_df[['Week', 'Location', 'Date', 'Parsed Date', 'Time Block', 'Role', 'Name', 'Sign-Up']]

# Sort by Parsed Date in ascending order (earliest first) and reset index
combined_df = combined_df.sort_values(by='Parsed Date', ascending=True).reset_index(drop=True)

# Drop the 'Parsed Date' column
combined_df = combined_df.drop(columns=['Parsed Date'])

combined_df

/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:38: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if pd.notna(row[0]) and row[0] != "":
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  current_time_block = row[0]
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:40: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  shift_data.append([day_label, current_time_block, row[1], row[2], row[3]])
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:38: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if pd.notna(row[0]) and row[0] != "":
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  current_time_block = row[0]
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:40: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  shift_data.append([day_label, current_time_block, row[1], row[2], row[3]])
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:38: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if pd.notna(row[0]) and row[0] != "":
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  current_time_block = row[0]
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:40: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  shift_data.append([day_label, current_time_block, row[1], row[2], row[3]])
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:38: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if pd.notna(row[0]) and row[0] != "":
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  current_time_block = row[0]
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:40: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  shift_data.append([day_label, current_time_block, row[1], row[2], row[3]])
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:38: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if pd.notna(row[0]) and row[0] != "":
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  current_time_block = row[0]
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:40: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  shift_data.append([day_label, current_time_block, row[1], row[2], row[3]])
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:38: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if pd.notna(row[0]) and row[0] != "":
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  current_time_block = row[0]
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:40: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  shift_data.append([day_label, current_time_block, row[1], row[2], row[3]])
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:38: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if pd.notna(row[0]) and row[0] != "":
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  current_time_block = row[0]
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:40: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  shift_data.append([day_label, current_time_block, row[1], row[2], row[3]])
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:38: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if pd.notna(row[0]) and row[0] != "":
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  current_time_block = row[0]
/var/folders/x_/715mvl2x1h33ww2x2tjg5t5r0000gp/T/ipykernel_3962/3000308738.py:40: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  shift_data.append([day_label, current_time_block, row[1], row[2], row[3]])

,Week,Location,Date,Time Block,Role,Name,Sign-Up
0,1,SCC,Tuesday 4/1,12PM-1PM,Volunteer 2,Chitra Mukherjee,True
1,1,SCC,Tuesday 4/1,10AM-11AM,Staff Member,Chitra Mukherjee,True
2,1,SCC,Tuesday 4/1,11AM-12PM,Volunteer 1,Chitra Mukherjee,True
3,1,SCC,Tuesday 4/1,12PM-1PM,Volunteer 4,Dominic Olson,True
4,1,SCC,Tuesday 4/1,1PM-2PM,Staff Member,Dominic Olson,True
...,...,...,...,...,...,...,...
63,4,ARC,Thursday 4/24,2PM-3PM,Volunteer 4,Anvi Kalucha,True
64,4,ARC,Thursday 4/24,3PM-4PM,Staff Member,Dominic Olson,True
65,4,ARC,Thursday 4/24,3PM-4PM,Volunteer 1,Sara Molina,True
66,4,ARC,Thursday 4/24,12PM-1PM,Staff Member,Dominic Olson,True
67,4,ARC,Thursday 4/24,2PM-3PM,Volunteer 1,Simran Bal,True